*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  min-height: 100vh;
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  background: #08c;
}

#marioStop, #marioJump, #marioGoRight {
  display: none;
}

.slider {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 0;
}

.slider__title {
  margin-bottom: 20px;
  font-size: 35px;
  text-align: center;
}

.slider__container {
  margin: 0 auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider__wrapper img {
  width: 100%;
  height: auto;
}
